<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} - FlaskApp</title>

    <style>
        
        nav a {
            color: #85B6BB;
            font-size: 5em;
            margin-left: 50px;
            text-decoration: none;
            font-family: impact
        }

    </style>

    <!-- add style.css file link-->
   <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}" >
   <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='css/style.css') }}" >

</head>
<body>
    <!-- navigation bar (click-able text) has 2 links; one to index view function in app.py, the other to about page -->
    <nav>
        <a href="{{ url_for('pred') }}">Prediction</a>
        <a href="{{ url_for('process') }}">Result</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>