<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Attrition Prediction
    </title>

    <style>
        
        h1 {
            color: #85B6BB;
            font-size: 7em;
            margin-left: 50px;
            text-decoration: none;
            font-family: impact;
        }

    </style>

    <!-- add style.css file link-->
   <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}" >
   <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='css/style.css') }}" >

</head>
<body>
    <div class="content">
        
        <!-- user input section -->
        <div class = "container-fluid">

            <div class = "row justify-content-start">
                <div class = "col-md-12">
                    <!-- html-specific field form accepts user input-->
                    <form action="{{url_for("process")}}" method="POST">
                        <h1>Attrition Prediction</h1>
                        <hr>
                        <div class="row">
                            <h3 style = "text-align: center; font-family: impact; color: #d8d8d8">About</h3>
                            <p style = "font-family: Arial; color: #d8d8d8">The purpose of this project is to determine the possible variables that would influence an employee to leave their workplace and the relative importance of these features. We also aim to utilize a machine learning model to predict the probability that an employee will decide to leave. This is accomplished by saving and retrieving the model through serialization and deserialization, creating a Flask app to retrieve an employee's information and handle the data. Furthermore, we conducted exploratory data analysis to detect trends from each feature as they relate to the target of attrition.</p>
                        </div>
                        <!--add label and input-->
                        {% for feature in features_list %}
                        
                        <div class="row">
                            
                            <div class="col-md-2">
                                <label for = "{{ feature[0] }}">{{ feature[2] }}</label>
                            </div>
                            
                            <div class="col-md-2">
                                <input 
                                    name = "{{ feature[0] }}" 
                                    type = "text" 
                                    placeholder = "{{ feature[1] }}" 
                                    id = "{{ feature[0] }}"  
                                    required = "required"/>
                            </div>
                            
                            <div class="col-md-7">
                                {{ feature[3] }}
                            </div>

                        </div>
                        {% endfor %}         
                        
                        <!-- add filter button -->
                        <body>
                            <!-- <button type="submit" class="btn btn-lg">Predict</button> -->
                            <p style = "display: block; background-color: #8AD7DE; text-align: center; border: #B2C8CA">
                                <input type = "submit" class = "btn" value = "Predict" 
                                style = "color: #202020;font-size: 2em; margin-left: 50px; text-decoration: none; font-family: impact;"/>
                            </p>
                        </body>
                    
                    </form>
                </div>
            </div>

        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
</body>
</html>