<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attrition Prediction Utilizing Machine Learning</title>

    <!-- add style.css file link-->
   <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}" >
   <link rel = "stylesheet" type="text/css" href = "{{ url_for('static', filename='css/style.css') }}" >
</head>
<body>
    
   <!-- user input section -->
   <div class = "container-fluid">

       <div class = "row">
           <div class = "col-md-7">
               <!-- html-specific field form accepts user input-->
               <form action="/result" method="POST">
                   <p>Attrition Prediction</p>
                       <!-- add filter -->
                       
                           <!--add label and input-->
                           <!-- placeholder is an example for user;-->
                           <!-- js looks for id when button clicks and function runs-->
                           {% for feature in features_list %}
                            <div class="row">
                                
                                <div class="col">
                                    <label for = "{{ feature[0] }}">{{ feature[2] }}</label>
                                </div>
                                
                                <div class="col">
                                    <input 
                                        name = "{{ feature[0] }}" 
                                        type = "text" 
                                        placeholder = "{{ feature[1] }}" 
                                        id = "{{ feature[0] }}"  
                                        required = "required"/>
                                </div>
                                
                                <div class="col">
                                    {{ feature[3] }}
                                </div>
                            </div>
                            {% endfor %}         
                             
                        <!-- add filter button -->
                        <button type="submit" class="btn btn-outline-light btn-primary btn-lg">Predict</button>
                </form>
            </div>

            <div class = "col-md-12">
                <h4>{{pred}}<br></h4>
            </div>
        </div>

    </div>

   <!-- link to d3.js library and other files-->
   <script src=https://cdnjs.cloudflare.com/ajax/libs/d3/7.4.4/d3.js></script>
   <script src="static/js/app.js"></script>
   <script src="static/css/style.css"></script>
</body>
</html>